body{
    background-color: #01aef0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
}
#heading{
    letter-spacing: 2px;
    height: 30px;
    padding: 4px;
    margin-left: 60px;
}
#logo{
    height:150px;
    background-color: white;
    letter-spacing: 2px;
    
}
#logotype{
    float: left;
    height: 170px;
    width: 270px;
}
#logotype_img {
    float: left;
    width:150px;
    height: 150px;
    padding: 1px;
    margin-left: 80px;
}
#nav1{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-right: 250px;
}
#nav_b{
    float: left;
    font-weight: 1000;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.nav2{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.link{
    text-decoration: none;
    color: black;
}