body{
    background-color: #01aef0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 1795px;
   
    
}
#heading{
    letter-spacing: 2px;
    height: 30px;
    padding: 4px;
    margin-left: 60px;
}
#logo{
    height:150px;
    width: 1795px;
    background-color: white;
    letter-spacing: 2px;
    
}
#logotype{
    float: left;
    height: 150px;
    width: 270px;
}
#logotype > a > img{
    float: left;
    width:150px;
    height: 150px;
    padding: 1px;
    margin-left: 80px;
}
#nav1{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-right: 250px;
}
#nav_b{
    float: left;
    font-weight: 1000;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.nav2{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.link{
    text-decoration: none;
    color: black;
}
#container{
    
}
#container_background{
    width: 1795px;
    height: 724px;
}
#container_background > img{
    width: 1795px;
    height: 1024px;
    position: absolute;
    clip: rect(300px auto auto auto);
    top: -110px;
}
#rectangle{
    background-color: #01aef0;
    text-align: center;
    font-size: 60px;
    width: 580px;
    height: 77px;
    position: absolute;
    left: 70px;
    top: 824px;   
    font-weight: 1000;
    padding: 18px;
}
#description{
    font-size: 33px;
    line-height: 130%;
        /*góra, prawo, dół, lewo*/
    margin: 90px 110px 30px 110px;
}
table{
    border-spacing: 20px;
  
    /*wyśrodkowanie elementu*/
    margin: 0 auto;
}

tr, td {
border: 1px solid white;
 text-align: center;
 padding: 20px 60px 20px 60px;
 font-size: 35px;

}

.bordered{
    border: 3px solid white;
}
#info{
    font-size: 20px;
    margin-left: 90px;
    margin-bottom: 100px;
}