body{
background-color: #244B59;  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 25px;
    margin: 0 auto;
    /*margin-left: 0px;
    margin-right: 0px;*/
    height: 50%;
}
#container{
    width: 1795px;
    height: 1700px;
     margin:0 auto;
     background-color: #01aef0;
}
#heading{
    letter-spacing: 2px;
    height: 30px;
    padding: 4px;
    margin-left: 60px;
}
#logo{
    height:150px;
    background-color: white;
    letter-spacing: 2px;
    width: 1795px;
}
#logotype{
    float: left;
    height: 150px;
    width: 270px;
}
#logotype_img {
    float: left;
    width:150px;
    height: 150px;
    padding: 1px;
    margin-left: 80px;
  
}
#nav1{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-right: 250px;
}
#nav_b{
    float: left;
    font-weight: 1000;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.nav2{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.link{
    text-decoration: none;
    color: black;
}


#img_index_background{
    width: 1795px;
    height: 820px;
  
}
#squars{
    margin: -150px auto auto 50px;
    position: relative;
    width: 1700px;
    height: 400px;
}
.square{
    float: left;
   margin-left: 20px;
    width: 540px;
    height: 400px;
    /*position:relative;
    z-index: 1;*/
}
#text{
    
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
    font-size: 40px;
}