body{
    background-color: #01aef0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
}
#heading{
    letter-spacing: 2px;
    height: 30px;
    padding: 4px;
    margin-left: 60px;
}
#logo{
    height:150px;
    width: 1795px;
    background-color: white;
    letter-spacing: 2px;
    
}
#logotype{
    float: left;
    height: 150px;
    width: 270px;
}
#logotype_img {
    float: left;
    width:150px;
    height: 150px;
    padding: 1px;
    margin-left: 80px;
}
#nav1{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-right: 250px;
}
#nav_b{
    float: left;
    font-weight: 1000;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.nav2{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.link{
    text-decoration: none;
    color: black;
}
#container{
    width: 1795px;
    
}

#container_background{
    width: 1795px;
    height: 924px;
}

#container_background > img{
    width: 1795px;
    height: 1024px;
    position: absolute;
    clip: rect(130px,auto,1085px,auto);
    top: 65px;
}
#rectangle{
    background-color: #01aef0;
    text-align: center;
    font-size: 60px;
    width: 580px;
    height: 77px;
    position: absolute;
    left: 70px;
    top: 994px; 
    font-weight: 1000;
    padding: 18px;
}

#block_left{
    float: left;
    font-size: 30px;
    padding: 30px;
    margin-left: 120px;
    margin-right: 0px;
}
#block_right{
    float: left;
    font-size: 30px;
    padding:30px;
    margin-left: 0px;
    margin-right: 0px;
}

#block_right > p{
    text-align: center;
}

li{
    list-style-type: none;
}