body{
    background-color: #01aef0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 20px;
    margin-left: 0px;
    margin-right: 0px;
  
    align-items: center;
    
}
#heading{
    letter-spacing: 2px;
    height: 30px;
    padding: 4px;
    margin-left: 60px;
}
#logo{
    height:150px;
    background-color: white;
    letter-spacing: 2px;
    width: 1795px;
    
}
#logotype{
    float: left;
    height: 150px;
    width: 270px;
}
#logotype > a > img {
    float: left;
    width:150px;
    height: 150px;
    padding: 1px;
    margin-left: 80px;
    position: absolute;
    clip: rect(auto,auto,142px,auto);
}
#nav1{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-right: 250px;
}
#nav_b{
    float: left;
    font-weight: 1000;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.nav2{
    float: left;
    font-weight: 700;
    font-size: 25px;
    color: black;
    padding-top: 57px;
    margin-left: 100px;
}
.link{
    text-decoration: none;
    color: black;
}
#container{
    width: 1835px;
    
}
#container_background{
    width: 1795px;
    height: 675px;
}
#container_background > img{
    width: 1795px;
    position: absolute;
    top: 151px;
    clip: rect(44px,auto,833px,auto);
}
#rectangle{
    background-color: #01aef0;
    text-align: center;
    font-size: 60px;
    width: 580px;
    height: 77px;
    position: relative;
    left: 70px;   
    font-weight: 1000;
    padding: 18px;
 
}
.square{
    float: left;
    width: 898px;
    height: 550px;
    font-size: 33px;
    line-height: 130%;
    
}
.square > img{
    width: 897px;
    height: 550px;
}
.square > p{
    margin: 50px;
    margin-top: 110px;
}
.square >  ul{
    margin-left: 50px;
    margin-right: 50px;
}